<div class="row">
<div class="large-12 columns">
  <br>
  <h2 style="margin: 0;" class="text-center primary">Citygiftアカウント</h2>
  <h6 style="margin: 0;" class="text-center">以下のQRコードからLineの友達に追加</h6>
</div>
</div>

<div class="small-8 medium-8 small-centered columns">
    <div class="text-center">
        <br>
        <img src="http://qr-official.line.me/L/U_DtPWcVZ7.png">
        <p>
        LINEアプリを起動して、<br>
        ［その他］タブの［友だち追加］でQRコードをスキャンします。
        </p>
    </div>
    <br>
    <br>
</div>