<!-- area -->
<div class="row">
  <div class="large-12 columns">
  <h2 style="margin: 0;" class="text-center">Area</h2>
  <h6 style="margin: 0;" class="text-center">地域からプランを探す</h6>
    <br>
    <br>
    <div class="row">
    <div class="small-12 medium-10 medium-centered columns">
      <div class="medium-8 columns">
        <p><%= image_tag("tokyo.jpg", alt: "tokyo") %></p>
      </div>
      <div class="medium-4 columns">
        <p><%= image_tag("kamakura.jpg", alt: "kamakura") %></p>
        <p><%= image_tag("onomichi.jpg", alt: "onomichi") %></p>
      </div>
    </div>
    </div>
<!--
    <div class="row">
    <div class="small-12 medium-10 medium-centered columns">
        <div class="medium-4 columns">
            <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
            <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
        </div>
        <div class="medium-8 columns">
            <p><img src="http://placehold.it/900x450&text=Promoted Article" alt="main article image"></p>
        </div>
    </div>
    </div>
-->
    </div>
</div>
<!-- area -->