<!-- concept -->
<hr>
<div class="row">
    <div class="large-12 columns">
    <h2 style="margin: 0;" class="text-center">Concept</h2>
    <h6 style="margin: 0;" class="text-center">身近な場所をもっと楽しもう!</h6>
    <br>
    <br>
    <div class="small-8 medium-8 small-centered columns">
        <div class="row text-center">
            <p class="small-12 columns">普段通りすぎてしまう街も、しっかり探すと何か見つかる。そんな体験から『citygift』は生まれました。</p>
            <p class="small-12 columns">どんな街にも素敵なストーリーは存在し、ストーリーは街を魅力的に仕立て上げ、魅力的な街は人生を豊かにしてくれます。</p>
            <p class="small-12 columns">時間が余ったら近くの街を探検しにいく、そんなライフスタイルを私たちは提供します。</p>
        </div>
    </div>
    </div>
</div>
<hr>
<!-- concept -->