<!-- home -->
<div class="expanded rows">
<div id="toppic" class="callout large-12 columns"/>
    <div id="box" class="text-center"> 
        <div>
            <br>
            <br>
            <h1>you can find the beautiful world</h1>
            <p class="lead">街歩き体験サービス『citygift』</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%= link_to "Line add", linead_path,:class => 'button large' %>
            <a href="#" class="button large hollow">LOGIN</a>
            <br>
            <br>          
        </div>
    </div>
</div>
<!-- home -->