<!-- likeus -->
<div class="row">
    <div class="large-12 columns">
        <h2 style="margin: 0;" class="text-center">Like us</h2>
        <h6 style="margin: 0;" class="text-center">SNSで最新情報を発信しています</h6>
        <br>
        <br>
        <div class="small-6 medium-6 small-centered columns">
        <div class="row　text-center">
<!--facebook-->
            <div class="medium-3 small-3 columns text-center">
              <i class="fi-social-facebook"></i>
                <div class="small-8 medium-8 small-centered columns">
                    <p><%= image_tag("facebook.png", alt: "facebook") %></p>      
                </div>
              <br>
            </div>
<!--twitter-->
            <div class="medium-3 small-3 columns text-center">
              <i class="fi-social-twitter"></i>
                <div class="small-8 medium-8 small-centered columns">
                    <p><%= image_tag("twitter.png", alt: "twitter") %></p>      
                </div>              
              <br>
            </div>
<!--insta-->
            <div class="medium-3 small-3 columns text-center">
              <i class="fi-social-instagram"></i>
                <div class="small-8 medium-8 small-centered columns">
                    <p><%= image_tag("instagram.png", alt: "instagram") %></p>      
                </div>             
              <br>
            </div>
<!--line-->
            <div class="medium-3 small-3 columns text-center">
              <i class="fi-social-line"></i>
                <div class="small-8 medium-8 small-centered columns">
                    <p><%= image_tag("line.png", alt: "line") %></p>      
                </div>                   
            </div>

        </div>      
        </div>
        
    </div>
</div>
<br>
<!-- likeus -->