<!-- news -->
<div class="news">
    <div class="small-12 medium-10 medium-centered columns">
    <div class="rows">
        <div class="small-3 columns">
            <h6>NEWS</h6>
        </div>
        <div class="small-9 columns">
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <h6>1/14 卒業制作提出</h6>
            </li>
            <li class="orbit-slide">
              <h6>1/20 Bot機能実装</h6>
            </li>
            <li class="orbit-slide">
              <h6>2/2 GGA出場</h6>
            </li>
            <li class="orbit-slide">
              <h6>2/11 Lineaward エントリー</h6>
            </li>
          </ul>
        </div>
        </div>
    </div>
    </div>   
</div>

<!-- news -->