<!-- newplan -->
<div class="row">
<div class="large-12 columns">
  <h2 style="margin: 0;" class="text-center">LATEST Plan</h2>
  <h6 style="margin: 0;" class="text-center">新着プランから探す</h6>
</div>
</div>
<div class="row">
  <div class="large-12 columns">

  <article>
<br>
<br>
<!-- 最新記事1 -->
    <div class="large-4 columns">
      <div class="large-12 medium-6 small-12 columns">
        <p><%= image_tag("omotesando.jpg", alt: "omodetando") %></p>
      </div>
      <div class="large-12 medium-6 small-12 columns">
        <h5><a href="#">表参道3時間まったりコース</a></h5>
        <p>
          <span><i class="fi-torso"> By Yuta &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments"> 6 comments</i></span>
        </p>
        <p>表参道を原宿方面からまったり歩くコースです。大人のためのお子様ランチを食べ、雑貨屋さんを覗いてからカフェでまったり。息抜きにオススメのプランです。</p>
      </div>
    </div>
<!-- 最新記事2 -->
    <div class="large-4 columns">
      <div class="large-12 medium-6 small-12 columns">
        <p><%= image_tag("onomichi.jpg", alt: "onomichi") %></p>
      </div>
      <div class="large-12 medium-6 small-12 columns">
        <h5><a href="#">尾道3時間わくわくコース</a></h5>
        <p>
          <span><i class="fi-torso"> By Yuta &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar"> 12/3/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments"> 4 comments</i></span>
        </p>
        <p>広島の尾道を散策していくコースです。石畳に囲まれた神社を巡って、志賀直哉の暗夜行路を堪能したのちに、尾道ラーメンを食していきます。一人街歩きにおすすめのプランです。</p>
      </div>
    </div>
<!-- 最新記事3 -->
    <div class="large-4 columns">
      <div class="large-12 medium-6 small-12 columns">
        <p><%= image_tag("kamakura.jpg", alt: "kamakura") %></p>
      </div>
      <div class="large-12 medium-6 small-12 columns">
        <h5><a href="#">鎌倉満喫4時間コース</a></h5>
        <p>
          <span><i class="fi-torso"> By Yuta &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar"> 1/14/17 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments"> 8 comments</i></span>
        </p>
        <p>鎌倉の心地良さを満喫するコースです。報国寺や長谷寺をめぐり自然のパワーを存分に吸収できます。ふとした小旅行におすすめのプランです。</p>
      </div>
    </div>
<!-- 最新記事4 -->
<!--
    <div class="large-4 columns">
      <div class="large-12 medium-6 small-12 columns">
        <p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
      </div>
      <div class="large-12 medium-6 small-12 columns">
        <h5><a href="#">代々木上原3時間充実コース</a></h5>
        <p>
          <span><i class="fi-torso"> By Yuta &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar"> 1/9/17 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments"> 3 comments</i></span>
        </p>
        <p>代々木上原を満喫するコースです。銭湯に入ってから、立ち飲みワインをいただき、最後においしいディナーで締めるプランです。仲の良い友達の気分転換にオススメのプランです。</p>
      </div>
    </div>
-->
<!-- 最新記事5 -->
<!--
    <div class="large-4 columns">
      <div class="large-12 medium-6 small-12 columns">
        <p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
      </div>
      <div class="large-12 medium-6 small-12 columns">
        <h5><a href="#">石神井公園2時間ほのぼのコース</a></h5>
        <p>
          <span><i class="fi-torso"> By Yuta &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar"> 12/19/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments"> 4 comments</i></span>
        </p>
        <p>石神井公園を一周巡ってから、駅の近くにあるピザ屋さんで石窯ピザを食べるプランです。晴れた日にオススメのプランです。</p>
      </div>
    </div>
-->
<!-- 最新記事6 -->
<!--
    <div class="large-4 columns">
      <div class="large-12 medium-6 small-12 columns">
        <p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
      </div>
      <div class="large-12 medium-6 small-12 columns">
        <h5><a href="#">'Death Star' Vaporizes Its Own Planet</a></h5>
        <p>
          <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments"> 6 comments</i></span>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
      </div>
    </div>
-->

    <hr>
    <div class="row text-center">
      <a class="button hollow expanded text-center">Load More</a>
    </div>
    

    </article>

  </div>
  <hr>
</div> 
<!-- newplan -->